In [115]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [116]:
# Load the dataset
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Preprocessing the data: Dropping irrelevant columns

In [117]:
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Encoding categorical variables

In [118]:
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

OneHot Encoding Geography

In [119]:
OneHotEncoder_geography = OneHotEncoder()
geography_encoded = OneHotEncoder_geography.fit_transform(df[['Geography']])
geography_encoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [120]:
OneHotEncoder_geography.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [121]:
geography_encoded_df = pd.DataFrame(geography_encoded.toarray(), columns=OneHotEncoder_geography.get_feature_names_out(['Geography']))
geography_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

Combine all the onehot encoded columns in original data

In [122]:
df = pd.concat([df.drop('Geography', axis=1), geography_encoded_df], axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

Save the encoders and scaler

In [123]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('OneHotEncoder_geography.pkl', 'wb') as file:
    pickle.dump(OneHotEncoder_geography, file)

Divide the dataset into independent & dependent features

In [124]:
X = df.drop('Exited', axis=1)
Y = df['Exited']

# Train-test split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Scaling the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [125]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [126]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [127]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

### ANN Implementation

In [128]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

import datetime

Build the ANN Model

In [129]:
model = Sequential(
    [
        # Hidden layer with 64 neurons and ReLU activation connected with Input layer
        Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
        # Hidden layer with 32 neurons and ReLU activation connected with previous layer
        Dense(32, activation='relu'),
        # Output layer with 1 neuron and sigmoid activation for binary classification
        Dense(1, activation='sigmoid')
    ]
)

In [130]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 64)                832

 dense_13 (Dense)            (None, 32)                2080

 dense_14 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

Optimizers & Loss

In [131]:
optimizer = tf.keras.optimizers.Adam(learning_rate=0.01)
loss = tf.keras.losses.BinaryCrossentropy()
loss

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

Compile the model

In [132]:
model.compile(optimizer=optimizer, loss=loss, metrics=['accuracy'])

Setup the Tensorboard

In [133]:
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

Setup Early Stopping

In [134]:
early_stopping_callback = EarlyStopping(
    monitor='val_loss', # Monitor validation loss for early stopping
    patience=20, # Number of epochs with no improvement after which training will be stopped
    restore_best_weights=True # Restore model weights from the epoch with the best value of the monitored quantity
)

Train the model

In [135]:
history = model.fit(
    X_train,
    Y_train,
    validation_data=(X_test, Y_test),
    epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 753us/step - loss: 0.4005 - accuracy: 0.8353 - val_loss: 0.3590 - val_accuracy: 0.8510
Epoch 2/100
250/250 [==============================] - 0s 569us/step - loss: 0.3583 - accuracy: 0.8497 - val_loss: 0.3354 - val_accuracy: 0.8580
Epoch 3/100
250/250 [==============================] - 0s 508us/step - loss: 0.3488 - accuracy: 0.8569 - val_loss: 0.3482 - val_accuracy: 0.8585
Epoch 4/100
250/250 [==============================] - 0s 515us/step - loss: 0.3440 - accuracy: 0.8589 - val_loss: 0.3417 - val_accuracy: 0.8585
Epoch 5/100
250/250 [==============================] - 0s 490us/step - loss: 0.3398 - accuracy: 0.8575 - val_loss: 0.3480 - val_accuracy: 0.8600
Epoch 6/100
250/250 [==============================] - 0s 497us/step - loss: 0.3385 - accuracy: 0.8616 - val_loss: 0.3481 - val_accuracy: 0.8600
Epoch 7/100
250/250 [==============================] - 0s 490us/step - loss: 0.3347 - accuracy: 0.8619 - val_loss: 0.3617 - val_accuracy: 0.8515
Epoch 8/100
250/250 [==============================] - 0s 480us/step - loss: 0.3326 - accuracy: 0.8622 - val_loss: 0.3358 - val_accuracy: 0.8590
Epoch 9/100
250/250 [==============================] - 0s 489us/step - loss: 0.3333 - accuracy: 0.8625 - val_loss: 0.3544 - val_accuracy: 0.8585
Epoch 10/100
250/250 [==============================] - 0s 487us/step - loss: 0.3322 - accuracy: 0.8652 - val_loss: 0.3484 - val_accuracy: 0.8600
Epoch 11/100
250/250 [==============================] - 0s 490us/step - loss: 0.3283 - accuracy: 0.8631 - val_loss: 0.3465 - val_accuracy: 0.8590
Epoch 12/100
250/250 [==============================] - 0s 490us/step - loss: 0.3282 - accuracy: 0.8658 - val_loss: 0.3486 - val_accuracy: 0.8555
Epoch 13/100
250/250 [==============================] - 0s 485us/step - loss: 0.3247 - accuracy: 0.8665 - val_loss: 0.3503 - val_accuracy: 0.8540
Epoch 14/100
250/250 [==============================] - 0s 491us/step - loss: 0.3218 - accuracy: 0.8692 - val_loss: 0.3688 - val_accuracy: 0.8500
Epoch 15/100
250/250 [==============================] - 0s 482us/step - loss: 0.3196 - accuracy: 0.8698 - val_loss: 0.3657 - val_accuracy: 0.8535
Epoch 16/100
250/250 [==============================] - 0s 487us/step - loss: 0.3158 - accuracy: 0.8696 - val_loss: 0.3725 - val_accuracy: 0.8510
Epoch 17/100
250/250 [==============================] - 0s 497us/step - loss: 0.3140 - accuracy: 0.8708 - val_loss: 0.3654 - val_accuracy: 0.8585
Epoch 18/100
250/250 [==============================] - 0s 487us/step - loss: 0.3135 - accuracy: 0.8711 - val_loss: 0.3738 - val_accuracy: 0.8515
Epoch 19/100
250/250 [==============================] - 0s 503us/step - loss: 0.3088 - accuracy: 0.8735 - val_loss: 0.3694 - val_accuracy: 0.8500
Epoch 20/100
250/250 [==============================] - 0s 546us/step - loss: 0.3082 - accuracy: 0.8719 - val_loss: 0.3672 - val_accuracy: 0.8570
Epoch 21/100
250/250 [==============================] - 0s 539us/step - loss: 0.3053 - accuracy: 0.8767 - val_loss: 0.3825 - val_accuracy: 0.8545
Epoch 22/100
250/250 [==============================] - 0s 492us/step - loss: 0.3078 - accuracy: 0.8714 - val_loss: 0.3719 - val_accuracy: 0.8555

Save the model

In [136]:
model.save('model.h5')

/Users/rudrasawant/Downloads/Customer_Churn_Prediction/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

Load Tensorboard Extention

In [137]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [138]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 73253), started 2:47:30 ago. (Use '!kill 73253' to kill it.)